
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,600&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_card{
    max-width: 35%;
    height: auto;
    background-image: url(images/bg.png);
    border-radius: 24px;
    color: white;
    padding: 0px 1.4rem;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     position: relative;
    }
    
    .header{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 0px 1rem;
        position: relative;
        
    }
    .logo{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .logo h3 {
        color: white;
        font-size: 1.5rem;
    }
    .logo-img{
    display: block;
    width: 4.3rem;
}

.chip-img{
    width: 4.8rem;
}

.content{
    /* border: 2px solid white; */
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: .8em;
    padding: 0px 14px;

}
.content p{
    font-size: 1.5rem;
}

.footr{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    position: relative;
    padding: 10px 14px;
}
.para-p{
    font-size: 2em;
    position: absolute;
    bottom: 0px;
}

.validation{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.validation h2{
    font-size: 1.2em;
}

@media  (min-width: 600px) {
    .container_card{
        width: 70vw;
    }
}